<div class="eventform">

<div class="row">
<%= form_for (@event) do |f| %>
<div class = "col-md-3 eventlabel">
<%= f.label :name %>
</div>
<div class="col-md-5 eventfield">
<%= f.text_field :name,  class:"black" %>
</div>
</div>
<div class="row">
<div class = "col-md-3 eventlabel">
<%= f.label :description %>
</div>
<div class="col-md-5 eventfield">
<%= f.text_area:description,  class:"black" %>
</div>
</div>
<div class="row">
<div class="col-md-3 eventlabel">
<%= f.label :address %>
</div>
<div class="col-md-5 eventfield">
<%= f.text_field :address,  class:"black" %>
</div>
</div>
<div class="row">
<div class="col-md-3 eventlabel">
<%= f.label :date %>
</div>
<div class="col-md-5 eventfield">
<%= f.date_field :date,  class:"black" %>
</div>
</div>
<div class="row">
<div class="col-md-3 eventlabel">
<%= f.label :time %>
</div>
<div class="col-md-5 eventfield">
<%= f.time_field :time,  class:"black" %>   
<%= f.submit "Update Event", class: 'btn btn-default' %>

<% end %>